<img src="/static/images/bball.jpg" />

<h1>Welcome to the NBA Database</h1>
<p>
This database represents the 2016-2017 NBA season. It features teams, players, coaches,
playoff games, and conferences.
The search bar at the top of the page can be used to search for
a particular player by typing in their first name, last name, or full name. All entities in the database can be edited, inserted, and deleted.
</p>
